<footer class="footer">

  <div class="icoArrow"> <a href="./index.html#index" title="" alt="Main page">
      <img class="icoScroll__link" src="./assets/images/ico-arrow.svg" alt=" Button" /></a> </div>

  <!--boton de la flecha del footer más hacer una animacion-->

  <nav>
    <ul class="footer__navSection">
      <li><a class="footer__nav--link" href="https://adalab.es/" title="Página de Adalab" target="_blank"
          alt="">Articles</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Books</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Events</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Reasons</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Tips</a></li>

    </ul>
  </nav>

  <nav>
    <ul class="footer__navSm">
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Twitter</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Instagram</a></li>
      <li><a class="footer__nav--link" href="https://adalab.es/" title="" target="" alt="">Mastodon.social</a></li>


    </ul>
  </nav>

  <div class="footer_copy">
    <p>&copy 2021</p>
    <small>We love components</small>
  </div>

</footer>