<footer class="container">
  <div class="icoArrow icoAnimation">
    <a href="./index.html#index" title="" alt="Main page">
      <img class="icoScroll__link" src="./assets/images/ico-arrow.svg" alt=" Button" /></a>
  </div>

  <div class="footer">
    <nav>
      <ul class="footer__nav">
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Articles</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Books</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Events</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Reasons</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Tips</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__menu">
      <ul class="footer__nav">
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Twitter</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Instagram</a>
        </li>
        <li>
          <a class="footer__nav--link" href="https://adalab.es/" title="Adalab Webpage" target="_blank"
            alt="Adalaba page">Mastodon.social</a>
        </li>
      </ul>
    </nav>

    <div class="footer__copy">
      <p>&copy 2021</p>
      <p>we <i class="fas fa-heart"></i> components</p>
    </div>
  </div>
</footer>