<footer>

  <div>boton de la flecha del footer más hacer una animacion </div>
  <nav>
    <ul>
      <li><a href="" title="" target="" alt="">Articles</a></li>
      <li><a href="" title="" target="" alt="">Books</a></li>
      <li><a href="" title="" target="" alt="">Events</a></li>
      <li><a href="" title="" target="" alt="">Reasons</a></li>
      <li><a href="" title="" target="" alt="">Tips</a></li>

    </ul>
  </nav>

  <nav>
    <ul>
      <li><a href="" title="" target="" alt="">Twitter</a></li>
      <li><a href="" title="" target="" alt="">Instagram</a></li>
      <li><a href="" title="" target="" alt="">Mastodon.social</a></li>


    </ul>
  </nav>

  <div>
    <p>&copy 2021</p>
    <small>We love components</small>
  </div>

</footer>