<section class="main__section2">

    <div class="main__section2--item1">
        <h2 id="reasons" class="section2__title">3 Reasons To Purchase</h2>
    </div>

    <article class="main__section2--item2">
        <h3 class="section2__subtitle"> Ut sed metus</h3>
        <p class="section2__parr">Lorem ipsum dolor sit amet, consectetur.</p>

    </article>
    <article class="main__section2--item3">
        <h3 class="section2__subtitle"> Curabitur ac erat</h3>
        <p class="section2__parr">Mauris mattis urna quis lorem molesties.</p>

    </article>

    <article class="main__section2--item4">
        <h3 class="section2__subtitle"> Morbi dictum</h3>
        <p class="section2__parr">Aliquam in dolor et dolor tincidunt.</p>

    </article>

    <div class="main__section2--item5 buttonSection2"> More reasons</div>


</section>
</main>