body {
  box-sizing: border-box;
  margin: 0 15px;
  padding: 0;
}

/* poner variables con font color + family 
$dark-green: #099d8d;
$light-green: #14d9c4;
$white: #ffffff;
$black: #000000;
$dark-grey: #54585a;
$light-grey: #b8b8b9;
$grey-bg: #f1f1f1;
$main-font: Open Sans, sans-serif;
$second-font: Rubik, sans-serif;
*/

/* foto hero http://placekitten.com/320/568*/

.header__menu {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.header__menu--burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 3px 0;
}

.header__hero {
}
/* para la hmaburguesa tymb sirve font-awsome ponerlo en otra merge */
