// fonts
$main-font: "Roboto", sans-serif;

$second-font: "Roboto Slab", serif;

// mixins

@mixin flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
