// fonts
$main-font: "Roboto", sans-serif;

$second-font: "Roboto Slab", serif;

//colors
$bright-orange: #f26002;
$light-blue: #8ccbea;
$cerulean: #0271bc;
$dark-grey-blue: #304268;
$ice-blue: #eff9ff;
$white: white;

// mixins
@mixin flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
