.container {
  background-color: $dark-grey-blue;
  position: relative;
}

.icoArrow {
  width: 45px;
  background-color: $white;
  height: 45px;
  border-radius: 100%;
  @include flexColumnCentered;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.icoAnimation {
  animation-name: disappear;
  animation-duration: 2s;
}
@keyframes disappear {
  0% {
    opacity: 0;
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.footer {
  color: $white;
  @include flexColumnCentered;
  padding: 60px 0 45px;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 39px;
  }

  @media all and (min-width: 1200px) {
    justify-content: center;
    align-items: flex-start;
    padding: 45px 370px;
  }

  &__nav {
    list-style: none;
    @include flexColumnCentered;
    line-height: 30px;
    padding: 15px 0;

    @media all and (min-width: 768px) {
      align-items: flex-start;
      padding-right: 15px;
      padding-top: 0;
      padding-bottom: 0;
      width: 210px;
    }

    @media all and (min-width: 1200px) {
      width: 160px;
      padding-left: 15px;
    }
    &--link {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  &__copy {
    @include flexColumnCentered;
    font-size: 14px;
    line-height: 30px;
    padding-top: 15px;
    line-height: 30px;

    @media (min-width: 768px) {
      order: -1;
      align-items: flex-start;
      padding: 0 15px;
      width: 210px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
      padding-right: 15px;
      width: 160px;
    }
  }
}

.fas {
  color: $bright-orange;
}
