/*  SECTION 2 3 REASONS TO PURCHASE*/
/* establecer margin de 0 15 px */

/* . En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transición que
dejamos a vuestra elección (por ejemplo: color, tamaño, etc.). */
.main {
  width: 100%;
  &__section2 {
    border: solid red 2px;
    background-color: $ice-blue;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-template-rows: 0.8fr, 1fr, 1fr, 1fr, 1fr;
    grid-gap: 45px;
    align-items: center;
    justify-items: center;

    &--item {
      border: solid 2px blue;
      line-height: 30px;
      text-align: center;
      max-width: 180px;
    }
  }
}

.section2 {
  &__title {
    font-family: $second-font;
    font-size: 24px;
    font-weight: bold;
  }
  &__subtitle {
    font-family: $second-font;
    font-weight: bold;
  }

  &__button {
    width: 184px;
    height: 45px;
    font-size: 20px;
    border-radius: 22.5px;
    background-color: $bright-orange;
    color: white;
    @include flexColumnCentered;
    text-align: center;
    line-height: 2.25;
  }
}
