.main {
  &__section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    padding: 30px 15px 45px;

    @media (min-width: 768px) {
      padding: 30px 39px 60px;
    }
    @media (min-width: 1200px) {
      padding: 60px 275px;

      align-items: flex-start;
    }
    &--small {
      font-size: 14px;
      color: #8ccbea;

      @media (min-width: 1200px) {
        font-size: 16px;
      }
    }
    &--title {
      font-family: $second-font;
      font-size: 24px;
      max-width: 300px;

      @media (min-width: 768px) {
        max-width: 100%;
        font-size: 26px;
      }
      @media (min-width: 1200px) {
        font-size: 32px;
      }
    }

    &--description {
      color: #4a4a4a;
      padding: 15px 0 30px;
      @media (min-width: 768px) {
        padding: 30px 0;
      }
      @media (min-width: 1200px) {
        max-width: 730px;
      }
    }

    &--button {
      width: 76px;
      height: 45px;
      border: solid $bright-orange 2px;
      border-radius: 22.5px;
      background-color: white;
      color: $bright-orange;
      font-size: 20px;

      @media (min-width: 768px) {
        width: 91px;
      }
      @media (min-width: 1200px) {
        width: 160px;
      }
    }
  }
}

.button:hover {
  background-color: white;
  transition: color ease 2s;
  &:hover {
    background-color: gold;
  }
  @media (min-width: 768px) {
    &:hover {
      transition: transform 1s ease-in;
      transform: scale(1.5);
    }
  }
}
