/* establecer margin de 0 15 px */

/* . En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transición que
dejamos a vuestra elección (por ejemplo: color, tamaño, etc.). */

/*  SECTION 1 Looking through a window */
.main {
  width: 100%;

  &__section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin: 30px 0 45px; */
    line-height: 30px;
    border: yellow solid 3px;
    padding: 30px 15px 45px;
    @media (min-width: 768px) {
      padding: 30px 39px 60px;
    }
    @media (min-width: 1200px) {
      padding: 60px 0;

      /*  mirar aqui un flex */
    }
    &--small {
      font-size: 14px;
      color: #8ccbea;

      @media (min-width: 1200px) {
        font-size: 16px;
      }
    }
    &--title {
      font-family: $second-font;
      font-size: 24px;
      max-width: 300px;

      @media (min-width: 768px) {
        max-width: 100%;
        font-size: 26px;
      }
      @media (min-width: 1200px) {
        font-size: 32px;
      }
    }

    &--description {
      color: #4a4a4a;
      padding: 15px 0 30px;
      @media (min-width: 768px) {
        padding: 30px 0;
      }
    }

    &--button {
      width: 76px;
      height: 45px;
      border: solid $bright-orange 2px;
      border-radius: 22.5px;
      background-color: white;
      color: $bright-orange;
      font-size: 20px;
      font-weight: 500;
      @media (min-width: 768px) {
        width: 91px;
      }
      @media (min-width: 1200px) {
        width: 160px;
      }
    }
  }
}
